.chat-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150%;
  height: calc(100dvh - 76px);
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  overflow: hidden;
}

.chat-body-wrapper {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 30%;
    background: #E0E0E0;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }
}

.auto-scroll-button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--background-color);
  border-radius: 0;
  border: 1px solid #000;
  box-shadow: none;
  cursor: pointer;
  opacity: 0.9;
  img {
    width: 20px;
    height: 20px;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-enter-from {
  transform: translateX(20px);
  opacity: 0;
}

.slide-up-enter-active {
  transition: all 0.5s ease;
}

.slide-up-enter-from {
  transform: translateY(20px);
  opacity: 0;
}

@media (max-width: 1024px) {
  .chat-body {
    border: none;
    width: 100%;
  }
}
