.message-container {
  max-width: 766px;
  width: 100%;
  margin: 0 auto;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 17px 20px;
  flex-direction: row-reverse;
  text-align: right;
  @media (max-width: 768px) {
    padding: 10px 20px;
  }

  .message-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-left: 20px;
    border: 1px solid #000;
    border-radius: 0;
    background: var(--background-color);

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
      margin-left: 15px;
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }

  img {
    max-width: 38px;
    max-height: 38px;
    border-radius: 0;
  }

  .message-content {
    max-width: calc(100% - 62px);
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &-author {
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: 400;
      color: var(--sub-text-color);
      text-transform: uppercase;
      letter-spacing: 0.03em;
      @media (max-width: 480px) {
        font-size: 13px;
      }
    }

    &-text {
      position: relative;
      max-width: 100%;
      padding: 20px;
      border-radius: 0;
      background: #000000;
      box-sizing: border-box;
      text-align: left;

      &-body {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        min-width: 2px;
        min-height: 19px;
        word-wrap: break-word;
        color: #FFFFFF;

        &.loading::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
          background-color: #FFFFFF;
          animation: blick-effect 1s step-end infinite;
        }
      }

      @media (max-width: 480px) {
        max-width: 230px;
        padding: 15px;
        .message-text {
          font-size: 13.5px;
        }
      }

      @media (min-width: 480px) and (max-width: 768px) {
        max-width: 360px;
        padding: 17px;
        .message-text {
          font-size: 14px;
        }
      }
    }
  }

  &.isSolomon {
    flex-direction: row;
    text-align: left;

    .message-profile {
      border: 1px solid #E0E0E0;
      margin-left: 0;
      margin-right: 20px;

      @media (max-width: 768px) {
        margin-right: 15px;
      }
    }

    .message-content {
      align-items: flex-start;

      &-text {
        background: #F5F5F5;

        &-header {
          width: 100%;
          margin-top: -8px;
          margin-bottom: 10px;
          text-align: end;
          color: var(--sub-text-color);
        }

        &-body {
          color: #000000;
        }

        &-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-top: 15px;

          @media (max-width: 480px) {
            padding-top: 10px;
          }

          .icon-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 5px;
            margin: auto;
            border-radius: 0;

            &.mashup {
              border: 1px solid #000;
              opacity: 40%;

              img {
                width: 18px;
              }

              &.selected {
                opacity: 100%;
              }
            }

            &.copy {
              background: #E0E0E0;
              > img {
                width: 15px;
                border-radius: 0;
              }
            }
          }

          .buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
          }
        }
      }
    }
  }
}

@keyframes blick-effect {
  50% {
    opacity: 0;
  }
}
