.reportInfoByType {
  .mashupTitle {
    display: flex;
    align-items: center;
    gap: $sol-space-1;
    padding-top: 80px;
    margin-bottom: 60px;
    border-top: 1px solid #000000;
  }

  .mashupTitleLabel {
    display: inline-block;
    padding: $sol-space-1;
    border-radius: 0;
    font-size: $sol-font-base;
    font-weight: $sol-weight-semibold;
    line-height: 100%;
    background: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
